.cards{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
}

.div_render {
    font-family: 'Alfa Slab One', cursive;
}

/* .div_render h1{
    display: flex;
    justify-content: flex-start;
} */

@media (max-width: 1250px) {
    
    .div_render h1{
        display: flex;
        justify-content: flex-start;
        margin-left: 10px;
    }
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 600px;
}

.buttons {
    font-family: 'Fredoka One', cursive;
    font-size: 2vh;
    color: rgb(0, 0, 0);
    background: rgb(199, 139, 27);
    border: none;
    /* border-radius: 10px; */
}

.buttons:hover {
    background: #866b0f;
    transform: translateY(1px);
    color: blanchedalmond;
}

.navbar {
    background-color:rgb(199, 139, 27);
    padding: 3px;
}


.navbar select{
    border: none;
    background-color:rgb(199, 139, 27);
    font-family: 'Fredoka One', cursive;
    font-size: 2vh;
    
}

.navbar select:hover {
    background: #866b0f;
    box-shadow: 5px #0b6783;
    transform: translateY(1px);
    color: blanchedalmond;
}

.navbar option{
    background-color: rgb(88, 88, 88);
    font-size: small;
    font-family: 'Ubuntu', sans-serif;
}

@media (max-width: 1500px) {
    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
}

.loading{
    margin-top: 30px;
    height: 50vmin;
    pointer-events: none;}

    @media (prefers-reduced-motion: no-preference) {
        .loading {
          animation: App-logo-spin infinite 1s linear;
        }
      }    

    @keyframes App-logo-spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }   