.box {
    position: absolute;
    top: 3%;
    left: 55%;
}
/* .box:hover > i{
    background-color: azure;
   } */

.txt{
    border: none;
    padding: 9px;
}

a.btn i {
    background-color: #9c5901;
    padding: 10px;
    border-radius: 0% 50% 50% 0%;
}




@media (min-width: 1250px) {
    a.btn i {
        background-color: #9c590100;
    padding: 0;
    border-radius: 0;
    pointer-events: stroke;
    }
    .box {
        position: absolute;
        top: 5%;
        left: 75%;
        transform: translate(-50%,-50%);
        background:rgb(233, 144, 11);
        height: 40px;
        border-radius: 40px;
        padding: 10px;
    }
    
    .box:hover > .txt{
    width: 240px;
        padding: 0 4px;
    }
    
    .box:hover > .btn{
     background: azure;
    }
    .box:hover > i{
     background-color: azure;
    }
    
    .btn {
        color: rgb(206, 141, 21);
        float:right;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background:#9c5901;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        pointer-events:visible;
    }
    
    .txt {
        border: none;
        background: rgb(233, 144, 11);
        outline: none;
        float: left;
        padding: 0;
        color: azure;
        font-size: 16px;
        transition: 0.4s;
        line-height: 40px;
        width: 0px;
    }
    
}

   